<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kiwi.dao.UsersMapper">
  <!-- 用作基础查询测试 -->
  <select id="GetInfo" resultType="Users">
    select * from users
  </select>
  <!-- 用做传递参数测试 -->
  <select id="SelectName" resultType="Users">
    select * from users where nickName like "%${nickName}%"
  </select>
</mapper>
